h1{color:darkblue;}
body {background: url(https://static.vecteezy.com/system/resources/previews/008/129/532/non_2x/blue-sea-water-texture-background-free-photo.jpg);
color: black;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;}
h1 {font-size: 30px;
padding-left: 45%;}
* {font-size: 20px;}
a{color: black;
    background-color:cadetblue;
    font-size: 25px;}
p{ color:black;}
.caja{ width: fit-content;
    position:relative;}
header {
    background-color: lightblue;
    color: cadetblue;
    padding: 10px 0;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    display: inline-block;
    padding: 10px;
    color: #4b0082;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: aquamarine;
  }
